/**********重置样式************/
body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt,input,a,p,img{margin:0; padding:0;}
body{font-size:12px; font-family: "微软雅黑";}
img{display:block; border:0;}
ul{list-style:none;}
a{text-decoration: none; color:#000;}
/***********公共样式***************/
.w{width:1100px; margin:0 auto;}
.l{float:left;}
.r{float:right;}
#all{background: #f6f6f3;}

/***********header*******************/

#header{position:relative;}
#header .header_content{height:30px; background:#f2f2f2; padding-left:80px; padding-right:74px; border-bottom:1px solid #e5e5e5;}
#header .header_content ul.left{height:30px; line-height:30px;}
#header .header_content ul.left li{margin-left:35px;}
#header .header_content ul.left li a{color:#000;}
#header .header_content ul.left li a:hover{color:#000;}
#header .header_content ul.right li.txt{padding:0 19px; width:62px; height:30px; line-height:30px; cursor: pointer;}
#header .header_content ul.right li.txt span.thing{display:inline-block; width:6px; height:30px; background:url(../img/back1.png) no-repeat; background-position:0 -70px;}
#header .header_content ul.right li.txt:hover{background:#fff; }
#header .header_content ul.right li.txt:hover span.thing{background-position:0 -105px;}
#header .header_content ul.right li.txt{position: relative; z-index:3;}
#header .header_content ul.right li.txt span.pic{width:100px; height:90px; position: absolute; left:0; top:30px; display:none;}
#header .header_content ul.right li.txt ul.over{ width:98px; position: absolute; left:0; top:30px; background: #fff; text-align:center; display:none; border:1px solid #e5e5e5; border-top:0;}
#header .header_content ul.right li.txt ul.over a{color:#000;}
#header .header_content ul.right li.txt1{background:url(../img/back1.png) no-repeat; width:60px; height:30px; line-height:30px; cursor: pointer; padding-left:12px; margin-left:4px;}
#header .header_footer{height:108px; background:#fff; padding-left:108px;}
#header .header_footer a.img{width:260px; height:108px;}
#header .header_footer .search{width:420px; height:108px; margin-left:90px;}
#header .header_footer .search p.search_input{display:block; width:423px; height:36px; margin-top:25px; border:2px solid #00c8ff;}
#header .header_footer .search p.search_input .txt{width:328px; height:
36px; border:0; padding-left:5px;}
#header .header_footer .search p.search_input .btn{width:90px; height:36px; background: url(../img/search.gif) no-repeat; cursor:pointer; border:0;}
#header .header_footer .search ul.search_ul{line-height:29px;}
#header .header_footer .search ul.search_ul li a{color:#000; padding:0 10px; border-left:1px solid #ccc;}
#header .header_footer .search ul.search_ul li.one a{padding-left:0; border:0;}
#header .header_footer .shop{width:124px; height:37px; margin-left:213px; margin-top:28px; border:1px solid #e2e2e2; cursor:pointer;}
#header .header_footer .shop p.img{width:25px; height:37px; background: url(../img/back1.png) no-repeat; background-position:0 -211px; margin-left:10px;}
#header .header_footer .shop p.txt{height:37px; line-height:37px; padding-left:10px;}
#header .header_footer .shop p.thing{width:6px; height:37px; background: url(../img/back1.png) no-repeat; background-position:0 -65px; margin-right:7px;}

/***********nav*******************/

#nav{height:35px; background: #00c8ff;}
#nav .nav_in{height:35px;}
#nav .nav_in .nav_ul_left li{width:120px; height:35px; line-height:35px; text-align:center;}
#nav .nav_in .nav_ul_left li.one{background: #00647f;}
#nav .nav_in .nav_ul_left li:hover{background: #00647f;}
#nav .nav_in .nav_ul_left li a.li_a{display:block; width:120px; height:35px; color:#fff;}
#nav .nav_in .nav_ul_left li.two{position: relative;} 
#nav .nav_in .nav_ul_left li.two .list{width:1026px; height:290px; background: #fff; position:absolute; left:-120px; top:35px; padding-left:44px; padding-right:30px; z-index:2; display:none;}
#nav .nav_in .nav_ul_left li.two .list .list_left{width:796px; height:224px; margin-top:38px;}
#nav .nav_in .nav_ul_left li.two .list .list_left dl{width:360px; height:102px; margin-right:35px; margin-bottom:20px;}
#nav .nav_in .nav_ul_left li.two .list .list_left dl dt{height:35px; font-size:15px; border-bottom:1px dotted #ccc;}
#nav .nav_in .nav_ul_left li.two .list .list_left dl dd{margin-right:20px; line-height:27px;}
#nav .nav_in .nav_ul_left li.two .list .list_left dl dt span.one_dt{width:25px; height:30px; background: url(../img/m_nav.png) no-repeat; background-position: 0 0; margin-top:5px;} 
#nav .nav_in .nav_ul_left li.two .list .list_left dl dt span.two_dt{width:25px; height:30px; background: url(../img/m_nav.png) no-repeat; background-position: 0 -25px; margin-top:5px;} 
#nav .nav_in .nav_ul_left li.two .list .list_left dl dt span.three_dt{width:25px; height:30px; background: url(../img/m_nav.png) no-repeat; background-position: 0 -60px; margin-top:5px;} 
#nav .nav_in .nav_ul_left li.two .list .list_left dl dt span.four_dt{width:25px; height:30px; background: url(../img/m_nav.png) no-repeat; background-position: 0 -90px; margin-top:5px;} 
#nav .nav_in .nav_ul_left li.two .list .list_right{width:230px; height:230px; margin-top:30px;}
#nav .nav_in .nav_ul_left li.two:hover .nav_span_thing{background-position: -9px 0px;}
#nav .nav_in .nav_span_thing{width:6px; height:35px; margin-right:27px; background: url(../img/back1.png) no-repeat; background-position: 0 -140px;}
#nav .nav_in .nav_ul_left li.three{position:relative; }
#nav .nav_in .nav_ul_left li.three img.hide{position:absolute; left:0; top:0; display:none;}
#nav .nav_in .nav_ul_left li.three:hover img.hide{display:block;}
#nav .nav_in .nav_ul_right li.ul_right_li{width:34px; height:35px; overflow:hidden; line-height:35px;}
#nav .nav_in .nav_ul_right li.ul_right_li a{color:#fff;}
#nav .nav_in .nav_ul_right li.ul_right_li span.sp1{width:34px; height:35px; background: url(../img/baidu.gif) no-repeat;}
#nav .nav_in .nav_ul_right li.ul_right_li span.sp2{width:34px; height:35px; background: url(../img/zheng.gif) no-repeat;}
#nav .nav_in .nav_ul_right li.ul_right_li span.sp3{width:34px; height:35px; background: url(../img/che.gif) no-repeat;}
#nav .nav_in .nav_ul_right li.ul_right_li span.sp4{width:34px; height:35px; background: url(../img/rili.gif) no-repeat;}

/***********content*******************/

#content .content_top{height:40px; background: #fff; margin-top:20px; margin-bottom:2px;}
#content .content_top ul li{float:left; padding-left:20px; height:40px; line-height:40px;}
#content .show1{width:1020px; height:350px; background: #fff; padding:40px; color:#6c6c6c; position: relative;}


#content .show1 .left_{width:350px; height:350px; display:inline-block; position:relative;}
#content .show1 .left_ img{width:350px; height:350px;}
#content .show1 .left_ .through{width:175px; height:175px; background:#fff; opacity:.5; filter:alpha(opacity=50); position:absolute;left:0; top:0; display:none;}
#content .show1 .big{width:350px; height:350px; position:absolute; left:410px; top:0; overflow:hidden; display:none;}
#content .show1 .big img{width:700px; height:700px;}
#content .show1 .right{margin-left:100px;}
#content .show1 .r_p2{width:490px; height:70px; line-height:70px; font-size:26px; color:#ff643c; border-bottom:1px solid #ccc;}
#content .show1 .r_p2 .p2_sp{font-size:12px; color:#6c6c6c; text-decoration: line-through;}
#content .show1 .r_p3{width:490px; height:45px; line-height:45px; border-bottom:1px solid #ccc;}
#content .show1 .r_p3 .p3_sp{display:inline-block; width:50px; height:14px; background: url(../img/xingji.png) no-repeat; background-position: 0 -20px;}
#content .show1 .r_evalute{width:490px; height:27px; margin-top:30px; line-height:27px; margin-bottom:10px;}
#content .show1 .r_evalute .r_num2{width:77px; height:25px; border:1px solid #ccc;}
#content .show1 .r_num2 .num{width:30px; height:25px; border:0; text-align:center;}
#content .show1 .r_num2 span{display:block; width:23px; height:25px; text-align:center; line-height:25px; font-size:20px; cursor:pointer;}
#content .show1 .r_p4{height:20px; margin-bottom:10px;}
#content .show1 .r_p4 .p4_sp{display:inline-block; width:40px; height:20px; background: #ff643c; color:#fff; text-align:center; line-height: 20px; margin-right:5px;}
#content .show1 .r_p5{width:490px; height:60px; padding-top:20px; border-top:1px dotted #ccc;}
#content .show1 .r_p5 .btn{display:block; width:200px; height:45px; background: url(../img/btn3.gif) no-repeat; cursor:pointer; margin-right:15px;}
#content .show1 .r_p5 .shou{background: url(../img/xingji.png) no-repeat; padding-left:20px; background-position: 0 -58px; margin-top:16px; cursor:pointer;}
#content .show1 .p6_sp{display:inline-block; width:40px; height:20px; line-height: 20px; text-align:center; background: #00C8FF; color:#fff; margin-right:5px;}
#content .show1 .fly{display:none; width:200px; height:45px; background:url(../img/btn3.gif) no-repeat; position:absolute; right:410px; top:291px; z-index:2000; cursor:pointer;}
#content .hot{width:1100px; height:65px; background: #fff; margin:0 auto; padding-top:45px; margin-top:30px;}
#content .hot ul li{float:left; padding-left:15px;}
#content .hot ul li a{color:#00C8FF;}
#content .group{width:1040px; height:230px; background: #fff;  margin-top:2px; padding:25px 30px 25px;}
#content .group .list{height:25px; border-bottom:1px solid #ccc;}
#content .group .list span{display:block; width:90px; height:25px; background: #00C8FF; color:#fff; text-align: center; line-height: 25px;}
#content .group .pic img{width:98px; height:98px;}
#content .group .pic{width:100px; height:150px; margin:0 10px; padding-top:30px;}
#content .group .pic:hover img{border:1px solid #f60;}
#content .group .pic:hover .pp1 a{color:#f60;}
#content .group .pp2{color:#f60;}
#content .group .hao{margin:75px 25px 0;}
#content .group .pic2{width:150px; height:150px; margin:0 10px; padding-top:30px;}
#content .group .pic2 .p_top{margin-bottom:25px;}
#content .group .pic2 .last{width:90px; height:25px; line-height: 25px; text-align: center; background: #ff643c; margin-top:25px;}
#content .group .pic2 .last a{color:#fff;}
#content p.same{height:55px; line-height: 55px; font-size:17px; margin-top:15px;}
#content .d_dl{height:325px;  margin-bottom: 35px;}
#content .same_dl{width:225px; height:325px; background: #fff; margin-right:50px;}
#content .same_dl img{width:225px; height:225px;}
#content .same_dl .same_dt span{display:block;}
#content .same_dl:hover .same_dt span{opacity:.5; filter:alpha(opacity=50)}
#content .same_dl .same_dd{width:205px; padding:0 10px;}
#content .same_dl .same_dd .same_p1{height:55px; line-height: 20px;}
#content .same_dl .same_dd .same_p2{height:25px;line-height: 25px;}
#content .same_dl .same_dd .same_sp1{color:#ff643c; font-size:16px;}
#content .same_dl .same_dd .same_sp2{color:#c4c4c4; text-decoration: line-through;}
#content .same_dl .same_dd .same_sp3{width:90px; height:25px; background: #ff643c; text-align: center; line-height: 25px; color:#fff; cursor:pointer;}
#content .bot{height:11380px;}
#content .bot_left{display:block; width:240px; background: #fff;}
#content .bot_left img{width:98px; height:98px;}
#content .bot_left dl{height:110px; width:210px; padding-top:20px; border-bottom: 1px dotted #ccc; margin-left:15px;}
#content .bot_left dl dd{width:95px; padding-top:25px;}
#content .bot_left .left_p2{height:40px; line-height: 40px; color:#fff; background: #6c6c6c; padding-left:10px;}
#content .bot_right{width:700px; background: #fff;}
#content .move{width:700px; height:50px; background:#6c6c6c; position: fixed; top:0; right:80px; display: none;}
#content .move ul li{float:left; width:100px; height:50px; line-height: 50px; text-align: center; color:#fff; font-size:16px;}
#content .move p{width:200px; height:50px; background: #00C8FF;}
#content .move p .move_sp1{display:block; font-size:26px; color:#ff643c; width:100px; height:50px; line-height: 50px;}
#content .move p .move_sp2{display:block; width:90px; height:30px; background: #ff643c; margin-top:10px; font-size:16px; color:#fff; text-align: center; line-height: 30px; cursor:pointer;}

















/***********footer*******************/

#footer{height:435px; background: #fff; margin-top:35px;}
#footer .footer_top{height:175px; background:#fff; padding-top:25px;}
#footer .footer_top .footer_dl{width:100px; height:134px; font-size:14px;  margin-left:30px; color:#6c6c6c;}
#footer .footer_top .footer_dl .footer_dt{height:30px; line-height:30px;}
#footer .footer_top .footer_dl .footer_dd .footer_top_p{height:25px; line-height:25px;}
#footer .footer_center{width:932px; height:35px; background:#00c8ff; padding-left:330px;}
#footer .footer_center .cen_li1,.cen_li2,.cen_li3,.cen_li4{width:60px; height:35px; line-height:35px; margin-right:75px; padding-left:30px; color:#fff;}
#footer .footer_center .cen_li1{background:url(../img/baidu.gif) no-repeat;}
#footer .footer_center .cen_li2{background:url(../img/zheng.gif) no-repeat;}
#footer .footer_center .cen_li3{background:url(../img/rili.gif) no-repeat;}
#footer .footer_center .cen_li4{background:url(../img/che.gif) no-repeat;}
#footer .footer_bottom{height:200px; background: #fff; color:#6c6c6c;}
#footer .footer_bottom .bottom_p1{height:20px; line-height:20px; text-align:center; margin-top:40px;}
#footer .footer_bottom .bottom_ul1{margin:10px auto; height:16px; width:500px;}
#footer .footer_bottom .bottom_li1{padding:0 8px; border-right:1px solid #6c6c6c;}
#footer .footer_bottom ._last{border:0;}
#footer .footer_bottom .bottom_ul2{width:450px; height:50px; margin:60px auto;}
#all_right{width:35px; height:100%; background:#6c6c6c; position:fixed; right:0; top:0;}
#all_right .all_right_ul1{width:35px; position:absolute; left:0; top:30%;}
#all_right .all_right_ul1 .ul1_li{width:35px; height:35px; margin-bottom:35px; cursor:pointer; position: relative;}
#all_right .all_right_ul1 .ul1_li:hover{background: #00c8ff;}
#all_right .all_right_ul1 .ul1_li .mi_sp{display:block; width:35px; height:35px; background:url(../img/sidebarico.png) no-repeat; background-position: 0px 0px;}
#all_right .all_right_ul1 .ul1_li .hear_a{display:block; width:35px; height:35px; background:url(../img/sidebarico.png) no-repeat; background-position: 0px -70px;}
#all_right .all_right_ul1 .ul1_li .foot_a{display:block; width:35px; height:35px; background:url(../img/sidebarico.png) no-repeat; background-position: 0px -102px;}
#all_right .all_right_ul1 div{width:80px; height:35px; background:#6c6c6c; position:absolute; left:-100px; top:1px; z-index:4; line-height:35px; text-align:center; color:#fff; display:none;}
#all_right .all_right_ul1 div a{color:#fff;}
#all_right .all_r_p{width:35px; height:35px; position: absolute; left:0; top:80%; color:#fff; text-align:center; cursor:pointer;}
#all_right .all_r_p:hover{background: #00c8ff;} 
#all_right .all_r_p .all_r_i{display:block; width:2px; height:2px; border-width: 5px; border-style: dashed dashed solid dashed; border-color: transparent transparent #fff transparent; margin:0 auto;}