/**********重置样式************/
body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt,input,a,p,img{margin:0; padding:0;}
body{font-size:12px; font-family: "微软雅黑";}
img{display:block; border:0;}
ul{list-style:none;}
a{text-decoration: none; color:#000;}
/***********公共样式***************/
.w{width:1100px; margin:0 auto;}
.w1{width:960px; margin:0 auto;}
.l{float:left;}
.r{float:right;}
#all{background: #f6f6f3;}

/***********header*******************/

#header{position:relative;}
#header .header_content{height:30px; background:#f2f2f2; padding-left:80px; padding-right:74px; border-bottom:1px solid #e5e5e5;}
#header .header_content ul.left{height:30px; line-height:30px;}
#header .header_content ul.left li{margin-left:35px;}
#header .header_content ul.left li a{color:#000;}
#header .header_content ul.left li a:hover{color:#000;}
#header .header_content ul.right li.txt{padding:0 19px; width:62px; height:30px; line-height:30px; cursor: pointer;}
#header .header_content ul.right li.txt span.thing{display:inline-block; width:6px; height:30px; background:url(../img/back1.png) no-repeat; background-position:0 -70px;}
#header .header_content ul.right li.txt:hover{background:#fff; }
#header .header_content ul.right li.txt:hover span.thing{background-position:0 -105px;}
#header .header_content ul.right li.txt{position: relative; z-index:3;}
#header .header_content ul.right li.txt span.pic{width:100px; height:90px; position: absolute; left:0; top:30px; display:none;}
#header .header_content ul.right li.txt ul.over{ width:98px; position: absolute; left:0; top:30px; background: #fff; text-align:center; display:none; border:1px solid #e5e5e5; border-top:0;}
#header .header_content ul.right li.txt ul.over a{color:#000;}
#header .header_content ul.right li.txt1{background:url(../img/back1.png) no-repeat; width:60px; height:30px; line-height:30px; cursor: pointer; padding-left:12px; margin-left:4px;}

/***********banner*******************/

#banner{height:108px; background: #fff;}

/***********content*******************/

#content .content_top{height:60px; line-height: 60px;}
#content .content_top .left{font-size:17px;}
#content .content_top .right{color:#6c6c6c;}
#content .thing{height:40px; background: #6c6c6c;}
#content .thing p{height:40px; line-height: 40px; color:#fff; padding-left:30px;}
#content .thing ul li{width:64px; height:40px; line-height: 40px; text-align: center; color:#fff; float:left;}
#content .thing_dl{width:915px; height:70px; padding-left:45px; padding:30px 0 20px 45px; border-bottom:1px dotted #ccc; line-height: 70px; color:#6c6c6c; background: #fff;}
#content .thing_dl img{width:68px; height:68px; border:1px solid #c4c4c4; }
#content .thing_dl .thing_dt{margin-right:15px;}
#content .thing_dl .thing_dd1{width:510px;}
#content .thing_dl .thing_dd2,.thing_dd3,.thing_dd4{width:64px; text-align:center;}
#content .thing_dl .thing_dd2 input{width:20px; height:15px; border:0; text-align: center;}
#content .thing_dl .thing_dd3{color:#ff643c;}
#content .thing_dl .thing_dd4{line-height:20px; height:60px; padding-top:10px;}
#content .thing_dl .thing_dd4 span{cursor:pointer;}
#content .and{width:900px; height:40px; padding:35px 30px; background:#fff; line-height: 40px;}
#content .and p{margin-right:10px; cursor:pointer}
#content .and p.next{width:70px; height:25px; background: #00C8FF; color:#fff; margin-top:8px; text-align: center; line-height: 25px; }
#content .and li{float:left; margin-right:20px;}
#content .and li .num_all{font-size:16px;}
#content .and li.pic_all_li{font-size:22px; color:#ff643c;}
#content .and li.end{width:125px; height:35px; background: #ff643c; color:#fff; text-align: center; font-size:22px; line-height: 35px; cursor:pointer;}
#content .more{height:55px; line-height:55px; font-size:17px;}
#content .choose{height:40px;  line-height: 40px; color:#fff;}
#content .choose li{width:316px; margin-left:5px; background: #6C6C6C; text-align: center; cursor:pointer;}
#content .choose li.first{margin:0; background: #00C8FF;}
#content .choose li:hover{background: #00C8FF;}
#content .small{background: #fff; height:630px; display: none;}
#content .small li{float:left; width:160px; height:270px; margin-left:20px; margin-top:20px;}
#content .small li img{width:158px; height:158px;}
#content .small li p{margin-top:10px;} 
#content .small li p.small_p2{color:#ff643c; font-size:15px;}
#content .small li p.small_p2 .small_span{color:#6c6c6c; font-size:12px; text-decoration: line-through;}
#content .small li p.small_p3{width:90px; height:30px; text-align: center; line-height: 30px; color:#fff; background: #ff643c; cursor:pointer;}

#content .content_recomm{height:440px; position: relative; overflow:hidden;}
#content .recomm_move{width:2400px; height:360px;}
#content .content_recomm dl.recomm_dl{width:260px; height:360px; background:#fff; margin-right:40px;}
#content .content_recomm dl.recomm_dl img.recomm_img{width:260px; height:260px;}
#content .content_recomm dl.recomm_dl dd.recomm_dd{width:240px; padding:0 10px; color:#6c6c6c}
#content .content_recomm dl.recomm_dl dd.recomm_dd p.recomm_p1{line-height:20px; height:48px;}
#content .content_recomm dl.recomm_dl dd.recomm_dd p.recomm_p2{height:26px;}
#content .content_recomm dl.recomm_dl dd.recomm_dd span.recomm_p2_sp2{text-decoration: line-through; margin-top:8px;}
#content .content_recomm dl.recomm_dl dd.recomm_dd span.recomm_p2_btn{width:90px; height:26px; background: #ff643c; color:#fff; text-align:center; line-height:26px; cursor:pointer;}
#content .content_recomm .move_left{width:30px; height:30px; background: url(../img/movel.gif) no-repeat center; position:absolute; left:0px; top:200px; color:#fff; cursor:pointer; z-index:2;}
#content .content_recomm .move_right{width:30px; height:30px; background: url(../img/mover.gif) no-repeat center; position:absolute; right:0; top:200px; color:#fff; cursor:pointer; z-index:2;}



/***********footer*******************/

#footer{height:435px; background: #fff; margin-top:35px;}
#footer .footer_top{height:175px; background:#fff; padding-top:25px;}
#footer .footer_top .footer_dl{width:100px; height:134px; font-size:14px;  margin-left:30px; color:#6c6c6c;}
#footer .footer_top .footer_dl .footer_dt{height:30px; line-height:30px;}
#footer .footer_top .footer_dl .footer_dd .footer_top_p{height:25px; line-height:25px;}
#footer .footer_center{width:932px; height:35px; background:#00c8ff; padding-left:330px;}
#footer .footer_center .cen_li1,.cen_li2,.cen_li3,.cen_li4{width:60px; height:35px; line-height:35px; margin-right:75px; padding-left:30px; color:#fff;}
#footer .footer_center .cen_li1{background:url(../img/baidu.gif) no-repeat;}
#footer .footer_center .cen_li2{background:url(../img/zheng.gif) no-repeat;}
#footer .footer_center .cen_li3{background:url(../img/rili.gif) no-repeat;}
#footer .footer_center .cen_li4{background:url(../img/che.gif) no-repeat;}
#footer .footer_bottom{height:200px; background: #fff; color:#6c6c6c;}
#footer .footer_bottom .bottom_p1{height:20px; line-height:20px; text-align:center; margin-top:40px;}
#footer .footer_bottom .bottom_ul1{margin:10px auto; height:16px; width:500px;}
#footer .footer_bottom .bottom_li1{padding:0 8px; border-right:1px solid #6c6c6c;}
#footer .footer_bottom ._last{border:0;}
#footer .footer_bottom .bottom_ul2{width:450px; height:50px; margin:60px auto;}